<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="/assets/js/controller.js"></script>
    <title>Burger Buddy (with Sequelize)</title>
</head>
<body>
    {{{body}}}
    <script type="text/javascript">
        document.addEventListener(
            "DOMContentLoaded",
            (event) => {
                controller = new Controller();
            }
        );
    </script>
</body>
</html>
